# **Stock Market Prediction And Forecasting Using Stacked LSTM**

## Data preprocessing

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
data=pd.read_csv("task2.csv")
data.head()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,28/09/2018,234.05,235.95,230.20,233.50,233.75,3069914,7162.35
1,27/09/2018,234.55,236.80,231.10,233.80,233.25,5082859,11859.95
2,26/09/2018,240.00,240.00,232.50,235.00,234.25,2240909,5248.60
3,25/09/2018,233.30,236.75,232.00,236.25,236.10,2349368,5503.90
4,24/09/2018,233.55,239.20,230.75,234.00,233.30,3423509,7999.55

In [3]:
data.tail()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
2030,27/07/2010,117.6,119.50,112.00,118.80,118.65,586100,694.98
2031,26/07/2010,120.1,121.00,117.10,117.10,117.60,658440,780.01
2032,23/07/2010,121.8,121.95,120.25,120.35,120.65,281312,340.31
2033,22/07/2010,120.3,122.00,120.25,120.75,120.90,293312,355.17
2034,21/07/2010,122.1,123.00,121.05,121.10,121.55,658666,803.56

In [4]:
data.describe()

,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
count,2035.000000,2035.000000,2035.000000,2035.000000,2035.00000,2.035000e+03,2035.000000
mean,149.713735,151.992826,147.293931,149.474251,149.45027,2.335681e+06,3899.980565
std,48.664509,49.413109,47.931958,48.732570,48.71204,2.091778e+06,4570.767877
min,81.100000,82.800000,80.000000,81.000000,80.95000,3.961000e+04,37.040000
25%,120.025000,122.100000,118.300000,120.075000,120.05000,1.146444e+06,1427.460000
50%,141.500000,143.400000,139.600000,141.100000,141.25000,1.783456e+06,2512.030000
75%,157.175000,159.400000,155.150000,156.925000,156.90000,2.813594e+06,4539.015000
max,327.700000,328.750000,321.650000,325.950000,325.75000,2.919102e+07,55755.080000

In [5]:
data.isnull().sum()

Date                    0
Open                    0
High                    0
Low                     0
Last                    0
Close                   0
Total Trade Quantity    0
Turnover (Lacs)         0
dtype: int64

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2035 entries, 0 to 2034
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  2035 non-null   object
 1   Open                  2035 non-null   float64
 2   High                  2035 non-null   float64
 3   Low                   2035 non-null   float64
 4   Last                  2035 non-null   float64
 5   Close                 2035 non-null   float64
 6   Total Trade Quantity  2035 non-null   int64
 7   Turnover (Lacs)       2035 non-null   float64
dtypes: float64(6), int64(1), object(1)
memory usage: 127.3+ KB

## Training dataset

In [7]:
training_set=data.iloc[:,1:2].values#training data set
training_set

array([[234.05],
       [234.55],
       [240.  ],
       ...,
       [121.8 ],
       [120.3 ],
       [122.1 ]])

In [8]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler(feature_range=(0,1))
training_set_scaled=scaler.fit_transform(training_set)

In [9]:
X_train = []
y_train = []
for i in range(60, 2035):
    X_train.append(training_set_scaled[i-60:i, 0])
    y_train.append(training_set_scaled[i, 0])
X_train, y_train = np.array(X_train), np.array(y_train)
X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))

## Creating LSTM

In [10]:
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dropout
from keras.layers import Dense

In [23]:
model = Sequential()
model.add(LSTM(units=50,return_sequences=True,input_shape=(X_train.shape[1], 1)))
model.add(Dropout(0.2))
model.add(LSTM(units=50,return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(units=50,return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(units=50))
model.add(Dropout(0.2))
model.add(Dense(units=1))
model.compile(optimizer='adam',loss='mean_squared_error')
model.fit(X_train,y_train,epochs=100,batch_size=32)

Epoch 1/100
62/62 [==============================] - 21s 130ms/step - loss: 0.0113
Epoch 2/100
62/62 [==============================] - 8s 132ms/step - loss: 0.0031
Epoch 3/100
62/62 [==============================] - 8s 131ms/step - loss: 0.0029
Epoch 4/100
62/62 [==============================] - 8s 126ms/step - loss: 0.0027
Epoch 5/100
62/62 [==============================] - 8s 134ms/step - loss: 0.0033
Epoch 6/100
62/62 [==============================] - 7s 120ms/step - loss: 0.0023
Epoch 7/100
62/62 [==============================] - 6s 90ms/step - loss: 0.0020
Epoch 8/100
62/62 [==============================] - 8s 123ms/step - loss: 0.0023
Epoch 9/100
62/62 [==============================] - 8s 122ms/step - loss: 0.0019
Epoch 10/100
62/62 [==============================] - 8s 131ms/step - loss: 0.0018
Epoch 11/100
62/62 [==============================] - 8s 127ms/step - loss: 0.0018
Epoch 12/100
62/62 [==============================] - 8s 130ms/step - loss: 0.0017
Epoch 13/100
62/62 [==============================] - 8s 134ms/step - loss: 0.0018
Epoch 14/100
62/62 [==============================] - 8s 124ms/step - loss: 0.0017
Epoch 15/100
62/62 [==============================] - 8s 136ms/step - loss: 0.0016
Epoch 16/100
62/62 [==============================] - 8s 124ms/step - loss: 0.0016
Epoch 17/100
62/62 [==============================] - 8s 126ms/step - loss: 0.0016
Epoch 18/100
62/62 [==============================] - 7s 115ms/step - loss: 0.0015
Epoch 19/100
62/62 [==============================] - 7s 120ms/step - loss: 0.0015
Epoch 20/100
62/62 [==============================] - 8s 133ms/step - loss: 0.0015
Epoch 21/100
62/62 [==============================] - 8s 135ms/step - loss: 0.0015
Epoch 22/100
62/62 [==============================] - 8s 135ms/step - loss: 0.0015
Epoch 23/100
62/62 [==============================] - 8s 123ms/step - loss: 0.0014
Epoch 24/100
62/62 [==============================] - 8s 127ms/step - loss: 0.0018
Epoch 25/100
62/62 [==============================] - 8s 132ms/step - loss: 0.0012
Epoch 26/100
62/62 [==============================] - 8s 130ms/step - loss: 0.0014
Epoch 27/100
62/62 [==============================] - 8s 135ms/step - loss: 0.0011
Epoch 28/100
62/62 [==============================] - 8s 135ms/step - loss: 0.0013
Epoch 29/100
62/62 [==============================] - 8s 131ms/step - loss: 0.0015
Epoch 30/100
62/62 [==============================] - 8s 132ms/step - loss: 0.0012
Epoch 31/100
62/62 [==============================] - 8s 131ms/step - loss: 0.0013
Epoch 32/100
62/62 [==============================] - 8s 134ms/step - loss: 0.0013
Epoch 33/100
62/62 [==============================] - 9s 144ms/step - loss: 0.0013
Epoch 34/100
62/62 [==============================] - 8s 129ms/step - loss: 0.0012
Epoch 35/100
62/62 [==============================] - 8s 128ms/step - loss: 0.0013
Epoch 36/100
62/62 [==============================] - 8s 133ms/step - loss: 0.0011
Epoch 37/100
62/62 [==============================] - 8s 133ms/step - loss: 9.7705e-04
Epoch 38/100
62/62 [==============================] - 8s 127ms/step - loss: 0.0010
Epoch 39/100
62/62 [==============================] - 8s 122ms/step - loss: 9.9822e-04
Epoch 40/100
62/62 [==============================] - 7s 119ms/step - loss: 9.8523e-04
Epoch 41/100
62/62 [==============================] - 7s 116ms/step - loss: 0.0010
Epoch 42/100
62/62 [==============================] - 8s 134ms/step - loss: 8.5984e-04
Epoch 43/100
62/62 [==============================] - 8s 136ms/step - loss: 9.3733e-04
Epoch 44/100
62/62 [==============================] - 8s 124ms/step - loss: 0.0010
Epoch 45/100
62/62 [==============================] - 7s 113ms/step - loss: 9.1111e-04
Epoch 46/100
62/62 [==============================] - 7s 119ms/step - loss: 9.6912e-04
Epoch 47/100
62/62 [==============================] - 8s 128ms/step - loss: 9.5558e-04
Epoch 48/100
62/62 [==============================] - 8s 129ms/step - loss: 9.5572e-04
Epoch 49/100
62/62 [==============================] - 8s 129ms/step - loss: 8.2298e-04
Epoch 50/100
62/62 [==============================] - 8s 132ms/step - loss: 9.0185e-04
Epoch 51/100
62/62 [==============================] - 8s 127ms/step - loss: 8.9074e-04
Epoch 52/100
62/62 [==============================] - 8s 131ms/step - loss: 9.6432e-04
Epoch 53/100
62/62 [==============================] - 8s 125ms/step - loss: 7.4484e-04
Epoch 54/100
62/62 [==============================] - 8s 130ms/step - loss: 8.7776e-04
Epoch 55/100
62/62 [==============================] - 8s 136ms/step - loss: 9.7476e-04
Epoch 56/100
62/62 [==============================] - 8s 132ms/step - loss: 8.2105e-04
Epoch 57/100
62/62 [==============================] - 8s 134ms/step - loss: 8.6147e-04
Epoch 58/100
62/62 [==============================] - 8s 129ms/step - loss: 7.8766e-04
Epoch 59/100
62/62 [==============================] - 8s 135ms/step - loss: 9.7856e-04
Epoch 60/100
62/62 [==============================] - 8s 136ms/step - loss: 7.7507e-04
Epoch 61/100
62/62 [==============================] - 8s 136ms/step - loss: 8.0580e-04
Epoch 62/100
62/62 [==============================] - 8s 134ms/step - loss: 7.4940e-04
Epoch 63/100
62/62 [==============================] - 8s 133ms/step - loss: 8.1209e-04
Epoch 64/100
62/62 [==============================] - 9s 139ms/step - loss: 7.1293e-04
Epoch 65/100
62/62 [==============================] - 8s 124ms/step - loss: 7.8306e-04
Epoch 66/100
62/62 [==============================] - 8s 127ms/step - loss: 7.9318e-04
Epoch 67/100
62/62 [==============================] - 8s 129ms/step - loss: 7.2538e-04
Epoch 68/100
62/62 [==============================] - 9s 139ms/step - loss: 7.6841e-04
Epoch 69/100
62/62 [==============================] - 8s 135ms/step - loss: 6.8176e-04
Epoch 70/100
62/62 [==============================] - 8s 130ms/step - loss: 8.2443e-04
Epoch 71/100
62/62 [==============================] - 8s 134ms/step - loss: 7.9434e-04
Epoch 72/100
62/62 [==============================] - 8s 127ms/step - loss: 7.4886e-04
Epoch 73/100
62/62 [==============================] - 8s 122ms/step - loss: 7.2552e-04
Epoch 74/100
62/62 [==============================] - 8s 131ms/step - loss: 6.7776e-04
Epoch 75/100
62/62 [==============================] - 8s 133ms/step - loss: 8.2621e-04
Epoch 76/100
62/62 [==============================] - 8s 133ms/step - loss: 7.7040e-04
Epoch 77/100
62/62 [==============================] - 7s 119ms/step - loss: 7.6869e-04
Epoch 78/100
62/62 [==============================] - 8s 126ms/step - loss: 8.0071e-04
Epoch 79/100
62/62 [==============================] - 8s 134ms/step - loss: 6.7457e-04
Epoch 80/100
62/62 [==============================] - 9s 138ms/step - loss: 6.6708e-04
Epoch 81/100
62/62 [==============================] - 8s 136ms/step - loss: 6.5163e-04
Epoch 82/100
62/62 [==============================] - 8s 135ms/step - loss: 7.2162e-04
Epoch 83/100
62/62 [==============================] - 8s 133ms/step - loss: 7.0675e-04
Epoch 84/100
62/62 [==============================] - 9s 146ms/step - loss: 6.5376e-04
Epoch 85/100
62/62 [==============================] - 9s 142ms/step - loss: 6.7237e-04
Epoch 86/100
62/62 [==============================] - 8s 132ms/step - loss: 7.3856e-04
Epoch 87/100
62/62 [==============================] - 9s 137ms/step - loss: 6.5058e-04
Epoch 88/100
62/62 [==============================] - 9s 144ms/step - loss: 6.1237e-04
Epoch 89/100
62/62 [==============================] - 9s 138ms/step - loss: 6.8841e-04
Epoch 90/100
62/62 [==============================] - 8s 136ms/step - loss: 6.8629e-04
Epoch 91/100
62/62 [==============================] - 8s 135ms/step - loss: 6.5020e-04
Epoch 92/100
62/62 [==============================] - 8s 135ms/step - loss: 7.0801e-04
Epoch 93/100
62/62 [==============================] - 8s 136ms/step - loss: 7.9427e-04
Epoch 94/100
62/62 [==============================] - 9s 139ms/step - loss: 6.8602e-04
Epoch 95/100
62/62 [==============================] - 9s 149ms/step - loss: 6.3934e-04
Epoch 96/100
62/62 [==============================] - 8s 134ms/step - loss: 5.9683e-04
Epoch 97/100

62/62 [==============================] - 8s 136ms/step - loss: 6.6053e-04
Epoch 98/100
62/62 [==============================] - 8s 135ms/step - loss: 8.9833e-04
Epoch 99/100
62/62 [==============================] - 8s 136ms/step - loss: 6.5108e-04
Epoch 100/100
62/62 [==============================] - 8s 134ms/step - loss: 6.1336e-04

## Making prediction

In [24]:
dataset_test = pd.read_csv("task2.csv")
real_stock_price = dataset_test.iloc[:, 1:2].values

In [25]:
data_total = pd.concat((data['Open'], dataset_test['Open']), axis = 0)
test_inputs = data_total[len(data_total) - len(data) - 60:].values
test_inputs.shape

(2095,)

In [26]:
test_inputs = test_inputs.reshape(-1,1)
test_inputs = scaler.transform(test_inputs)

In [27]:
test_features = []
for i in range(60, 89):
    test_features.append(test_inputs[i-60:i, 0])
test_features = np.array(test_features)
test_features = np.reshape(test_features, (test_features.shape[0], test_features.shape[1], 1))
test_features.shape

(29, 60, 1)

In [28]:
predictions = model.predict(test_features)
predictions

array([[0.15699553],
       [0.42867196],
       [0.59806234],
       [0.633223  ],
       [0.6115222 ],
       [0.599612  ],
       [0.60833716],
       [0.6234393 ],
       [0.63780254],
       [0.6340631 ],
       [0.6091597 ],
       [0.58072454],
       [0.58277506],
       [0.5897823 ],
       [0.58853924],
       [0.5919284 ],
       [0.58905596],
       [0.62291414],
       [0.63693124],
       [0.6404206 ],
       [0.637097  ],
       [0.63271254],
       [0.6392759 ],
       [0.6331633 ],
       [0.63495535],
       [0.6504833 ],
       [0.67325276],
       [0.67578334],
       [0.6665929 ]], dtype=float32)